<div id="sidebar">
    <header id="header">
        <img width="64" height="64" src="https://img.icons8.com/wired/64/verified-account--v2.png"
             alt="verified-account--v2"/>
        <h1>To Do List</h1>
    </header>
    <h2 id="list-header">
        Your Lists
    </h2>
    <div id="lists-div">
        <% locals.lists.forEach((list) => { %>
            <a href="/list/<%= list.id %>" class="sidebar-a">
                <div class="list-item">
                    <div class="list-name">
                        <img width="15" height="15" src="https://img.icons8.com/ios-glyphs/30/braille.png"
                             alt="braille"
                             class="dots"/>
                        <p class="list-p"><%= list.title %></p>
                    </div>
                    <div class="task-count">
                        <p class="task-count-p"><%= list.tasks.length %></p>
                    </div>
                </div>
            </a>
        <% }) %>
    </div>
    <a href="/list/create" class="sidebar-a">
        <div class="add-list-div create-list-div list-name">
            <img width="15" height="15" src="https://img.icons8.com/ios-glyphs/30/plus-math.png" alt="plus-math"
                 class="add-sign"/>
            <p class="create-list-p list-p">Create New List</p>
        </div>
    </a>
</div>